@font-face {
  font-family: 'upstore';
  src:  url('fonts/upstore.eot?axqbpd');
  src:  url('fonts/upstore.eot?axqbpd#iefix') format('embedded-opentype'),
    url('fonts/upstore.ttf?axqbpd') format('truetype'),
    url('fonts/upstore.woff?axqbpd') format('woff'),
    url('fonts/upstore.svg?axqbpd#upstore') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="up-icon-"], [class*=" up-icon-"], .up-icon:after, .up-icon:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'upstore' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.up-icon-14 {
  font-size:14px;
}
.up-icon-16 {
  font-size:16px;
}
.up-icon-18 {
  font-size:18px;
}
.up-icon-20 {
  font-size:20px;
}
.up-icon-22 {
  font-size:22px;
}

.up-icon-notify:before {
  content: "\e91b";
}
.up-icon-menu-line:before {
  content: "\e91a";
}
.up-icon-home:before {
  content: "\e919";
}
.up-icon-menu-grid:before {
  content: "\e918";
}
.up-icon-angle-up:before {
  content: "\e917";
}
.up-icon-fastorder:before {
  content: "\e915";
}
.up-icon-quickview:before {
  content: "\e916";
}
.up-icon-message:before {
  content: "\e913";
}
.up-icon-star:before {
  content: "\e914";
}
.up-icon-close:before {
  content: "\e912";
}
.up-icon-grid-plus:before {
  content: "\e911";
}
.up-icon-angle-down:before {
  content: "\e901";
}
.up-icon-angle-left:before {
  content: "\e902";
}
.up-icon-angle-right:before {
  content: "\e908";
}
.up-icon-microphone:before {
  content: "\e910";
}
.up-icon-search-category:before {
  content: "\e90a";
}
.up-icon-phone:before {
  content: "\e90e";
}
.up-icon-phone-sound:before {
  content: "\e90f";
}
.up-icon-share:before {
  content: "\e90b";
}
.up-icon-account:before {
  content: "\e900";
}
.up-icon-arrow-left:before {
  content: "\e903";
}
.up-icon-arrow-right:before {
  content: "\e904";
}
.up-icon-cart:before {
  content: "\e905";
}
.up-icon-check-circle:before {
  content: "\e906";
}
.up-icon-compare:before {
  content: "\e907";
}
.up-icon-search:before {
  content: "\e909";
}
.up-icon-slash:before {
  content: "\e90c";
}
.up-icon-wishlist:before {
  content: "\e90d";
}
