.mfp-product-video .mfp-inline-holder .mfp-content {
	width: auto !important;
}
.video-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 360px;
}
.video-wrapper video {
	max-width: 100%;
	max-height: 80vh;
}
.main-video .thumbnail,
.additional-video .thumbnail {
	position: relative;
}
.youtube-icon-play {
	background: url('/image/icon-play.svg') center center no-repeat;
	background-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.9;
	z-index: 20;
}

.product-thumb {
	position: relative;
}
.product-video-icons {
	position: absolute;
	padding: 2px;
	z-index: 1;
}
.light-theme .product-video-icons {
	right: 15px;
	top: 15px;
}
.dark-theme .product-video-icons {
	right: 20px;
	top: 20px;
}

.video-popup-icon {
	cursor: pointer;
}
a.video-link {
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.video-container {
	position: relative;
	width: 100%;
	height: auto !important;
	z-index: 10;
	border-radius: 12px;
	overflow: hidden;
	display: flex;
	aspect-ratio: 16/9;
}
.video-container video,
.video-container iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
.fancybox-slide--video,
.fancybox-slide--iframe  {
	padding: 44px 5px !important;
}
.fancybox-slide--iframe .fancybox-content {
	background: transparent;
	display: inline-block;
	aspect-ratio: 16/9;
	height: auto;
}
@media (max-width: 768px) {
	.swiper-slide.main-video,
	.swiper-slide.additional-video {
		height: auto;
	}
}
@media (min-width: 992px) {
	.fancybox-slide--iframe .fancybox-content {
		max-width: 70%;
	}

	.image .product-video-icons ~ .addit-action,
	.dark-theme .image .product-video-icons ~ .addit-action,
	.dark-theme .container-module .product-thumb:hover .image .product-video-icons ~ .addit-action,
	.dark-theme .product-grid .product-thumb:hover .image .product-video-icons ~ .addit-action {
		top: 50px !important;
	}
}
.fancybox-slide--video .fancybox-content .fancybox-thumb {
    display: none;
}
.hide-sticker {
	z-index: 6;
}