<div class="checkout-comment">
	<div class="checkout-heading">{{ opc_comment_setting['text_comments'] }}</div>
	<textarea name="comment" placeholder="{{ opc_comment_setting['text_placeholder_comments'] }}" rows="3" class="form-control">{{ comment }}</textarea>
</div>
