:root {
--special-text-color: #FFFFFF;
--special-bg-color: #E35845;
--special-icon-color: #ffffff;
--newproduct-text-color: #FFFFFF;
--newproduct-bg-color: #457DE3;
--newproduct-icon-color: #ffffff;
--bestseller-text-color: #FFFFFF;
--bestseller-bg-color: #E3AD45;
--bestseller-icon-color: #ffffff;
--popular-text-color: #FFFFFF;
--popular-bg-color: #53A974;
--popular-icon-color: #ffffff;
}
.light-theme {
--up-color-price: #000000;
--up-color-sale-price: #C5C5C5;
--up-color-status-in-stock: #84C1A8;
--up-color-status-out-of-stock: #E60202;
--up-color-link: #3572E1;
--up-color-link-hover: #1F60D7;
--up-color-rating-active: #F3AB07;
--up-color-rating-passive: #C5C5C5;
--up-bg-menu: #FFFFFF;
--up-bg-menu-hover: #EAEAEA;
--up-color-menu: #000000;
--up-color-menu-hover: #000000;
--up-border-color-menu: #F6F6F6;
--up-border-color-menu-hover: #EAEAEA;
--up-bg-header-total-cw: #E3C045;
--up-color-header-total-cw: #FFFFFF;
--up-bg-header-cart: #0A0A0A;
--up-color-header-cart: #FFFFFF;
--up-bg-header-total-cart: #3F78E0;
--up-color-header-total-cart: #FFFFFF;
--up-bg-mod-add-to-cart: #0A0A0A;
--up-color-mod-add-to-cart: #FFFFFF;
--up-bg-mod-add-to-cart-hover: #E3C045;
--up-color-mod-add-to-cart-hover: #0A0A0A;
--up-bg-mod-add-to-cart-hover-block: #0A0A0A;
--up-color-mod-add-to-cart-hover-block: #FFFFFF;
--up-bc-mod-add-to-cart: transparent;
--up-bc-mod-add-to-cart-hover: transparent;
--up-bc-mod-add-to-cart-hover-block: transparent;
--up-bg-mod-dop-btn: #F8F8F8;
--up-color-mod-dop-btn: #000000;
--up-bg-mod-dop-btn-hover: #EAEAEA;
--up-color-mod-dop-btn-hover: #000000;
--up-bg-scroll-top: #0A0A0A;
--up-color-icon-scroll-top: #FFFFFF;
--up-bg-scroll-top-hover: #1B1B1B;
--up-color-icon-scroll-top-hover: #FFFFFF;
--up-color-progress-scroll-top: #457DE3;
--up-color-progress-scroll-top-hover: #457DE3;
--up-bg-pp-add-to-cart: #0A0A0A;
--up-color-pp-add-to-cart: #FFFFFF;
--up-bg-pp-add-to-cart-hover: #E3C045;
--up-color-pp-add-to-cart-hover: #0A0A0A;
--up-bc-pp-add-to-cart: transparent;
--up-bc-pp-add-to-cart-hover: transparent;
--up-bg-pp-fastorder: #E3C045;
--up-color-pp-fastorder: #000000;
--up-bg-pp-fastorder-hover: #000000;
--up-color-pp-fastorder-hover: #FFFFFF;
--up-bc-pp-fastorder: transparent;
--up-bc-pp-fastorder-hover: transparent;
--up-bg-pp-compare: #F8F8F8;
--up-color-pp-compare: #000000;
--up-bg-pp-compare-hover: #EAEAEA;
--up-color-pp-compare-hover: #000000;
--up-bg-pp-wishlist: #F8F8F8;
--up-color-pp-wishlist: #000000;
--up-bg-pp-wishlist-hover: #EAEAEA;
--up-color-pp-wishlist-hover: #000000;
--up-bg-btn-primary: #000000;
--up-color-btn-primary: #FFFFFF;
--up-bg-btn-primary-hover: #000000;
--up-color-btn-primary-hover: #E3C045;
--up-bg-btn-default: #F8F8F8;
--up-color-btn-default: #000000;
--up-bg-btn-default-hover: #EAEAEA;
--up-color-btn-default-hover: #000000;
--up-bg-btn-black: #0A0A0A;
--up-color-btn-black: #FFFFFF;
--up-bg-btn-black-hover: #0A0A0A;
--up-color-btn-black-hover: #E3C045;
--up-bg-fix-bar: #06040A;
--up-bg-btn-fix-bar: #1B1B1B;
--up-bc-fix-bar: #313131;
--up-color-icon-btn-fix-bar: #FFFFFF;
--up-bg-total-fix-bar: #3572E1;
--up-color-total-fix-bar: #FFFFFF;
}
.dark-theme {
--up-color-price: #FFFFFF;
--up-color-sale-price: #F84147;
--up-color-status-in-stock: #9AC872;
--up-color-status-out-of-stock: #E65A2E;
--up-color-link: #3572E1;
--up-color-link-hover: #1F60D7;
--up-color-rating-active: #FFB249;
--up-color-rating-passive: #B1B1B1;
--up-bg-menu: #0F0F0F;
--up-bg-menu-hover: #1D1D1D;
--up-color-menu: #B1B1B1;
--up-color-menu-hover: #B1B1B1;
--up-border-color-menu: transparent;
--up-border-color-menu-hover: transparent;
--up-bg-header-total-cw: #E3C045;
--up-color-header-total-cw: #FFFFFF;
--up-bg-header-cart: #0A0A0A;
--up-color-header-cart: #FFFFFF;
--up-bg-header-total-cart: #3F78E0;
--up-color-header-total-cart: #FFFFFF;
--up-bg-mod-add-to-cart: #FFFFFF;
--up-color-mod-add-to-cart: #000000;
--up-bg-mod-add-to-cart-hover: #3F78E0;
--up-color-mod-add-to-cart-hover: #FFFFFF;
--up-bg-mod-add-to-cart-hover-block: #FFFFFF;
--up-color-mod-add-to-cart-hover-block: #000000;
--up-bc-mod-add-to-cart: transparent;
--up-bc-mod-add-to-cart-hover: transparent;
--up-bc-mod-add-to-cart-hover-block: transparent;
--up-bg-mod-dop-btn: #F8F8F8;
--up-color-mod-dop-btn: #000000;
--up-bg-mod-dop-btn-hover: #EAEAEA;
--up-color-mod-dop-btn-hover: #000000;
--up-bg-scroll-top: #0A0A0A;
--up-color-icon-scroll-top: #FFFFFF;
--up-bg-scroll-top-hover: #1B1B1B;
--up-color-icon-scroll-top-hover: #FFFFFF;
--up-color-progress-scroll-top: #457DE3;
--up-color-progress-scroll-top-hover: #457DE3;
--up-bg-pp-add-to-cart: #3F78E0;
--up-color-pp-add-to-cart: #FFFFFF;
--up-bg-pp-add-to-cart-hover: #457DE3;
--up-color-pp-add-to-cart-hover: #FFFFFF;
--up-bc-pp-add-to-cart: transparent;
--up-bc-pp-add-to-cart-hover: transparent;
--up-bg-pp-fastorder: #0F0F0F;
--up-color-pp-fastorder: #3F78E0;
--up-bg-pp-fastorder-hover: #3F78E0;
--up-color-pp-fastorder-hover: #FFFFFF;
--up-bc-pp-fastorder: #3F78E0;
--up-bc-pp-fastorder-hover: #3F78E0;
--up-bg-pp-compare: #1D1D1D;
--up-color-pp-compare: #B1B1B1;
--up-bg-pp-compare-hover: #2F2F2F;
--up-color-pp-compare-hover: #FFFFFF;
--up-bg-pp-wishlist: #1D1D1D;
--up-color-pp-wishlist: #B1B1B1;
--up-bg-pp-wishlist-hover: #2F2F2F;
--up-color-pp-wishlist-hover: #FFFFFF;
--up-bg-btn-primary: #457DE3;
--up-color-btn-primary: #FFFFFF;
--up-bg-btn-primary-hover: #3572E1;
--up-color-btn-primary-hover: #FFFFFF;
--up-bg-btn-default: #0F0F0F;
--up-color-btn-default: #FFFFFF;
--up-bg-btn-default-hover: #1D1D1D;
--up-color-btn-default-hover: #FFFFFF;
--up-bg-btn-black: #1D1D1D;
--up-color-btn-black: #FFFFFF;
--up-bg-btn-black-hover: #2F2F2F;
--up-color-btn-black-hover: #FFFFFF;
--up-bg-fix-bar: #0A0A0A;
--up-bg-btn-fix-bar: #1B1B1B;
--up-bc-fix-bar: #313131;
--up-color-icon-btn-fix-bar: #FFFFFF;
--up-bg-total-fix-bar: #3572E1;
--up-color-total-fix-bar: #FFFFFF;
}
.sticker-ns {float:left;}
.product-thumb .action-timer {
	flex-direction: column;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}
@media (min-width: 600px){
.product-grid .product-thumb .cart .btn-general,
.container-module .product-thumb .cart .btn-general {padding: 5px;}
.product-grid .product-thumb .cart .btn-general span.text-cart-add,
.container-module .product-thumb .cart .btn-general span.text-cart-add {display: none;}
}
