.small-slider__navigation,
.megasliderpro__navigation {
	border-radius: 48px;
	width: 90px;
	height: 48px;
	position: absolute;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px;
	transition: all .1s linear;
	z-index: 2;
}
.small-slider__navigation {
	bottom: 0px;
}
.megasliderpro__navigation {
	top: 0px;
}
.small-slider__arrow.swiper-button-disabled,
.megasliderpro__arrow.swiper-button-disabled {
	opacity: .5;
	cursor: inherit;
}
.small-slider__arrow,
.megasliderpro__arrow {
	position: relative;
	border-radius: 40px;
	font-size: 0;
	height: 40px;
	width: 40px;
	min-width: 40px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.small-slider__arrow i,
.megasliderpro__arrow i {
	font-size: 22px;
}
.small-slider__navigation, .megasliderpro__navigation {
	border: var(--slider-navigation-border);
	background: var(--slider-navigation-bg);
}
.small-slider__arrow, .megasliderpro__arrow {
	background: var(--slider-arrow-bg);
	color: var(--slider-arrow-color);
}
.small-slider__arrow:hover, .small-slider__arrow:active,
.megasliderpro__arrow:hover, .megasliderpro__arrow:active {
	background: var(--slider-arrow-hover-bg);
	color: var(--slider-arrow-hover-color);
}


.megasliderpro__inner {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.megasliderpro__inner.navigation-block {
	clip-path: polygon(0px 20px, 0px 20px, 0.26176637px 16.75589733px, 1.01961376px 13.67845504px, 2.23236459px 10.80885071px, 3.85884128px 8.18826192px, 5.85786625px 5.85786625px, 8.18826192px 3.85884128px, 10.80885071px 2.23236459px, 13.67845504px 1.01961376px, 16.75589733px 0.26176637px, 20px 3.3111117619826E-31px, calc(100% - 120px) 0px, calc(100% - 120px) 0px, calc(100% - 116.755822px) 0.26176637px, calc(100% - 113.678336px) 1.01961376px, calc(100% - 110.808714px) 2.23236459px, calc(100% - 108.188128px) 3.85884128px, calc(100% - 105.85775px) 5.85786625px, calc(100% - 103.858752px) 8.18826192px, calc(100% - 102.232306px) 10.80885071px, calc(100% - 101.019584px) 13.67845504px, calc(100% - 100.261758px) 16.75589733px, calc(100% - 100px) 20px, calc(100% - 100px) 34px, calc(100% - 100px) 34px, calc(100% - 99.685885px) 37.8929164px, calc(100% - 98.77648px) 41.5858432px, calc(100% - 97.321195px) 45.0293668px, calc(100% - 95.36944px) 48.1740736px, calc(100% - 92.970625px) 50.97055px, calc(100% - 90.17416px) 53.3693824px, calc(100% - 87.029455px) 55.3211572px, calc(100% - 83.58592px) 56.7764608px, calc(100% - 79.892965px) 57.6858796px, calc(100% - 76px) 58px, calc(100% - 20px) 58px, calc(100% - 20px) 58px, calc(100% - 16.755822px) 58.2617661px, calc(100% - 13.678336px) 59.0196128px, calc(100% - 10.808714px) 60.2323627px, calc(100% - 8.188128px) 61.8588384px, calc(100% - 5.85775px) 63.8578625px, calc(100% - 3.858752px) 66.1882576px, calc(100% - 2.232306px) 68.8088463px, calc(100% - 1.0195840000001px) 71.6784512px, calc(100% - 0.26175799999987px) 74.7558949px, calc(100% - 1.1368683772162E-13px) 78px, calc(100% - 0px) calc(100% - 20px), calc(100% - 0px) calc(100% - 20px), calc(100% - 0.26175799999987px) calc(100% - 16.755822px), calc(100% - 1.0195839999998px) calc(100% - 13.678336px), calc(100% - 2.232306px) calc(100% - 10.808714px), calc(100% - 3.8587520000001px) calc(100% - 8.1881279999999px), calc(100% - 5.85775px) calc(100% - 5.85775px), calc(100% - 8.188128px) calc(100% - 3.858752px), calc(100% - 10.808714px) calc(100% - 2.232306px), calc(100% - 13.678336px) calc(100% - 1.019584px), calc(100% - 16.755822px) calc(100% - 0.26175800000004px), calc(100% - 20px) calc(100% - 0px), 20px calc(100% - 0px), 20px calc(100% - 0px), 16.75589733px calc(100% - 0.26175799999999px), 13.67845504px calc(100% - 1.019584px), 10.80885071px calc(100% - 2.232306px), 8.18826192px calc(100% - 3.858752px), 5.85786625px calc(100% - 5.85775px), 3.85884128px calc(100% - 8.188128px), 2.23236459px calc(100% - 10.808714px), 1.01961376px calc(100% - 13.678336px), 0.26176637px calc(100% - 16.755822px), 3.3111117619826E-31px calc(100% - 20px), 0px 20px);
}
.megasliderpro .swiper:hover .swiper-ms-arrow.ms-prev {
	left:20px;
	opacity: 1;
}
.megasliderpro .swiper:hover .swiper-ms-arrow.ms-next {
	right: 20px;
	opacity: 1;
}
.megasliderpro .swiper:not(.swiper-initialized) .swiper-ms-pagination {
	opacity: 0;
}
.megasliderpro .swiper .swiper-ms-pagination {
	bottom: 30px;
	top: auto;
	right: 30px;
	position: absolute;
	display: inline-block;
	text-align: center;
	left: auto;
	width: auto;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center !important;
	align-items: center !important;
}
.megasliderpro .swiper-ms-pagination .swiper-pagination-bullet{
	width: 20px;
	height: 4px;
	border-radius: 12px;
	background: #868890;
	margin-left: 4px !important;
	margin-right: 0 !important;
	opacity: 1;
}
.swiper .swiper-fp-prod-pagination .swiper-pagination-bullet-active,
.megasliderpro .swiper-ms-pagination .swiper-pagination-bullet-active{
	background: #fff !important;
}
/*FP Slider*/
.fp-slider .swiper-fp-prod-pagination {
	bottom: 5px;
	top: auto;
	position: absolute;
	display: inline-block;
	text-align: center;
	height: 18px;
	background: #F7F8FB99;
	border-radius: 18px;
	padding: 5px 10px;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center !important;
	align-items: center !important;
}
.fp-slider .swiper-fp-prod-pagination .swiper-pagination-bullet{
	width: 20px;
	height: 4px;
	border-radius: 50px;
	opacity: 1;
	background: #fff;
	box-shadow: 0px 6px 10px rgba(232, 234, 243, 0.8);
}
.fp-slider .swiper-fp-prod-pagination .swiper-pagination-bullet-active{
	background: #E6952E !important;
}
.fp-slider .container-module .swiper{
	padding-top: 10px;
	padding-bottom: 40px;
	height: 100%;
}

.fp-slider .heading-title {
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: left;
	z-index: 5;
	color: #000;
	position: relative;
}
.fp-slider .container-module .swiper-fp-prod-pagination.swiper-pagination-lock,
.fp-slider .swiper-module:not(.swiper-initialized) .swiper-fp-prod-pagination {
	display: none;
}
.fp-slider .container-module {
	margin-top: 0;
}
@media (min-width: 992px) {
	.fp-slider {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.fp-pos-left {
		order: -1;
	}
	.fp-slider {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.fp-slider .container-module {
		margin: 0;
		height: 100%;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
	.fp-slider.col-md-12 .container-module {
		border: 1px solid var(--up-gray-color-1);
		background: var(--up-bg-wd);
	}
	.light-theme .fp-slider.col-md-3 .container-module {
		border: 1px solid var(--up-gray-color-1);
		background: var(--up-bg-wd);
	}

	.fp-slider .container-module .swiper {
		padding: 0px 10px;
	}
	.fp-slider .heading-title {
		padding-top: 15px;
		padding-bottom: 5px;
		text-align: center;
	}
	.fp-slider.col-md-3 .item.swiper-slide {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.fp-slider.col-md-12 .container-module .item.swiper-slide .product-thumb {
		box-shadow: none !important;
	}
	.fp-slider .swiper-fp-prod-pagination:not(.swiper-pagination-lock) + .swiper-wrapper .item .product-thumb {
		padding-bottom: 15px;
	}
	.fp-slider .swiper-fp-prod-pagination {
		bottom: 5px;
	}

}

/* END FP slider  */
.megasliderpro .swiper {
	border-radius:12px;
}
.megasliderpro .swiper .swiper-wrapper{
	overflow: hidden;
	border-radius:12px;
}
.megasliderpro a {
	font-size: 0px;
}
.pos1 .megasliderpro {margin-top: 15px;}
.pos1 .megasliderpro .bg-image-slider{width: 100%;}
.megasliderpro .bg-image-slider  {
	min-height: 350px;
	height: 100%;
	object-fit: cover;
	width: 100%;
}
@media (min-width: 992px) {
	.megasliderpro .swiper {
		border-radius: 20px;
		height: 100%;
	}
	.pos1 .megasliderpro {margin-top: -10px;}
	.pos1 .megasliderpro {margin-left: -10px; margin-right: -10px;}
	.pos1 .megasliderpro .swiper .swiper-wrapper{border-radius: 0px;}
}
.pos1 .megasliderpro .swiper {padding:0px;}
.megasliderpro {margin-bottom: 20px;margin-top: 20px;}
.ms-caption {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	display: flex;
	flex-direction: column;
}
.megasliderpro__content-price {
	position: absolute;
	bottom: 38px;
	z-index: 1;
	transform:translate3d(0px, 0px, 0px);
}
.megasliderpro__from {
	font-size: 16px;
	color: #E3C045;
	margin-bottom: 4px;
	line-height: 16px;
}
.megasliderpro__price {
	color: #fff;
	font-size: 26px;
	line-height: 26px;
}
.megasliderpro__content-price {
	left:25px;
}
.megasliderpro__content-title {
	position: absolute;
	top: 30px;
	z-index: 1;
	transform:translate3d(0px, 0px, 0px);
}
.megasliderpro__content-title {
	left:25px;
}
.megasliderpro__title {
	margin-bottom: 10px;
}
.megasliderpro__title {
	font-size: 26px;
	color: #fff;
	line-height: 28px;
	font-weight: 600;
}
.megasliderpro__sub-title {
	font-size: 22px;
	color: #fff;
	line-height: 26px;
	font-weight: 600;
}

@media (min-width: 992px) {
	.megasliderpro__content-title {
		top:38px;
	}
	.megasliderpro__content-title,
	.megasliderpro__content-price {
		left: 38px;
	}
	.megasliderpro__title {
		font-size: 30px;
	}
	.megasliderpro__sub-title {
		font-size: 28px;
	}

}

[class*="col-"]:not(.pos-1) .ms-caption{
	width: 100% !important;
}

.fp-slider:not(.col-md-12) .swiper-mod-arrow {
	display: none;
}
.home-page-content-top .fp-slider .container-module .swiper-visible .swiper-slide:not(.swiper-slide-visible) {
	transition: .2s ease;
}
@media (min-width: 1200px) {
	.home-page-content-top .megasliderpro {
		flex-grow: 1;
	}
	.home-page-content-top .fp-slider .swiper-mod-arrow {
		display: flex;
	}
	.home-page-content-top .fp-slider .container-module {
		background: transparent;
		border:0px;
		overflow: unset;
	}
	.home-page-content-top .fp-slider .heading-title {
		text-align: left;
	}
	.home-page-content-top .fp-slider .container-module .item.swiper-slide .product-thumb:not(.bg_image) {
		box-shadow:0px 0px 0px 1px #EAEDF7 !important;
		border-radius: 20px !important;
		background: #ffffff !important;
	}
	.home-page-content-top .fp-slider.col-md-3 .item.swiper-slide {
		padding-left: 10px;
		padding-right: 10px;
		flex-basis: auto;
		width: auto;
	}
	.home-page-content-top .fp-slider.col-md-12 .heading-title {
		margin-bottom: 10px;
		padding: 15px 0px 20px 0px;
	}
	.home-page-content-top .fp-slider.col-md-4 .heading-title,
	.home-page-content-top .fp-slider.col-md-4 .heading-title {
		margin-bottom: 5px;
		padding: 12px 0px 11px 0px;
	}
	.home-page-content-top .fp-slider.col-md-4 .heading-title,
	.home-page-content-top .fp-slider.col-md-4 .heading-title,
	.home-page-content-top .fp-slider.col-md-12 .heading-title {
		position: relative;
		clear: both;
		margin-right: 90px;
		font-size: 20px;
		color: #000;
		font-weight: 500;
	}
	.home-page-content-top .fp-slider .container-module .swiper {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
		padding-bottom: 5px;
		margin-bottom: -5px;
	}
	.home-page-content-top .fp-slider.col-md-12 .product-thumb {
		flex-direction: row !important;
		align-items: center;
	}
	.home-page-content-top .fp-slider.col-md-12 .container-module .product-thumb .caption {
		padding: 15px 15px 15px 10px;
	}
	.home-page-content-top .fp-slider.col-md-12 .container-module .product-thumb.bg_image .caption {
		padding: 0px 0px 5px 15px;
	}
	.home-page-content-top .fp-slider.col-md-12 .container-module .product-thumb:not(.bg_image) .caption{
		padding: 15px;
	}
	.home-page-content-top .fp-slider.col-md-12 .container-module .swiper-fp-prod-pagination:not(.swiper-pagination-lock) + .swiper-wrapper > .item.swiper-slide .product-thumb {
		padding: 0px;
	}
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .product-model,
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .rating,
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .ch-stock-status,
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .stickers-ns,
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .action-timer,
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .quantity_plus_minus,
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .product-description {
		display: none;
	}

	.home-page-content-top .fp-slider.col-md-12 .product-thumb .addit-action {
		display: none;
	}
	.home-page-content-top .fp-slider .price-actions-box {
		margin-top: auto !important;
	}

	.home-page-content-top .fp-slider.col-md-12 .product-thumb .image {
		position: inherit;
		float: left;
		width: 40%;
		padding: 12px;
		margin-bottom: 0px;
		min-height: auto;
		display: flex;
		align-items: center;
		align-self: normal;
		align-self: stretch;
		transition: opacity .15s ease 0s;
	}
	.home-page-content-top .fp-slider.col-md-3 .container-module .swiper-module:not(.swiper-initialized) .item.swiper-slide,
	.home-page-content-top .fp-slider.col-md-4 .container-module .swiper-module:not(.swiper-initialized) .item.swiper-slide {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .image img.img-responsive {
		min-width: 100px;
	}
	.home-page-content-top .fp-slider.col-md-12 .container-module .swiper-module:not(.swiper-initialized) .item.swiper-slide {
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}
	.home-page-content-top .fp-slider.col-md-12 .product-thumb .caption {
		margin-bottom: 0px;
		float: left;
		width: 60%;
		position: unset;
		min-height: 140px;
	}
	.home-page-content-top .swiper-fp-prod-pagination {
		display: none;
	}
}

/*Small Slider*/
@media (min-width: 768px) {
	.small-slider {
		margin-top: 20px;
	}
}
.small-slider {
	height: auto;
	position: relative;
	margin-bottom: 20px;
}
.small-slider .swiper {
	border-radius: 20px;
	overflow: hidden;
}
.small-slider__item {
	min-width: 100%;
	flex: 1 0 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.small-slider .swiper:not(.swiper-initialized) .small-slider__item {
	transform: translate3d(0px, 0px, 0px);
}
.small-slider .swiper:not(.swiper-initialized) .small-slider__item ~ .small-slider__item {
	opacity: 0;
}

.small-slider__inner {
	width: 100%;
	background-color: #000;
	height: 100%;
	margin: 0 auto;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}
.small-slider__inner.navigation-block {
	clip-path: polygon(0px 20px, 0px 20px, 0.26176637px 16.7558949px, 1.01961376px 13.6784512px, 2.23236459px 10.8088463px, 3.85884128px 8.1882576px, 5.85786625px 5.8578625px, 8.18826192px 3.8588384px, 10.80885071px 2.2323627px, 13.67845504px 1.0196128px, 16.75589733px 0.2617661px, 20px 3.3111080641971E-31px, calc(100% - 20px) 0px, calc(100% - 20px) 0px, calc(100% - 16.755822px) 0.26176637px, calc(100% - 13.678336px) 1.01961376px, calc(100% - 10.808714px) 2.23236459px, calc(100% - 8.188128px) 3.85884128px, calc(100% - 5.85775px) 5.85786625px, calc(100% - 3.858752px) 8.18826192px, calc(100% - 2.232306px) 10.80885071px, calc(100% - 1.019584px) 13.67845504px, calc(100% - 0.26175799999999px) 16.75589733px, calc(100% - 5.6843418860808E-14px) 20px, calc(100% - 0px) calc(100% - 78px), calc(100% - 0px) calc(100% - 78px), calc(100% - 0.26175799999999px) calc(100% - 74.755822px), calc(100% - 1.0195839999999px) calc(100% - 71.678336px), calc(100% - 2.232306px) calc(100% - 68.808714px), calc(100% - 3.858752px) calc(100% - 66.188128px), calc(100% - 5.85775px) calc(100% - 63.85775px), calc(100% - 8.188128px) calc(100% - 61.858752px), calc(100% - 10.808714px) calc(100% - 60.232306px), calc(100% - 13.678336px) calc(100% - 59.019584px), calc(100% - 16.755822px) calc(100% - 58.261758px), calc(100% - 20px) calc(100% - 58px), calc(100% - 76px) calc(100% - 58px), calc(100% - 76px) calc(100% - 58px), calc(100% - 79.892965px) calc(100% - 57.685885px), calc(100% - 83.58592px) calc(100% - 56.77648px), calc(100% - 87.029455px) calc(100% - 55.321195px), calc(100% - 90.17416px) calc(100% - 53.36944px), calc(100% - 92.970625px) calc(100% - 50.970625px), calc(100% - 95.36944px) calc(100% - 48.17416px), calc(100% - 97.321195px) calc(100% - 45.029455px), calc(100% - 98.77648px) calc(100% - 41.58592px), calc(100% - 99.685885px) calc(100% - 37.892965px), calc(100% - 100px) calc(100% - 34px), calc(100% - 100px) calc(100% - 20px), calc(100% - 100px) calc(100% - 20px), calc(100% - 100.261758px) calc(100% - 16.755822px), calc(100% - 101.019584px) calc(100% - 13.678336px), calc(100% - 102.232306px) calc(100% - 10.808714px), calc(100% - 103.858752px) calc(100% - 8.1881279999999px), calc(100% - 105.85775px) calc(100% - 5.85775px), calc(100% - 108.188128px) calc(100% - 3.858752px), calc(100% - 110.808714px) calc(100% - 2.232306px), calc(100% - 113.678336px) calc(100% - 1.019584px), calc(100% - 116.755822px) calc(100% - 0.2617580000001px), calc(100% - 120px) calc(100% - 0px), 20px calc(100% - 0px), 20px calc(100% - 0px), 16.75589733px calc(100% - 0.26175799999993px), 13.67845504px calc(100% - 1.0195839999999px), 10.80885071px calc(100% - 2.232306px), 8.18826192px calc(100% - 3.858752px), 5.85786625px calc(100% - 5.85775px), 3.85884128px calc(100% - 8.188128px), 2.23236459px calc(100% - 10.808714px), 1.01961376px calc(100% - 13.678336px), 0.26176637px calc(100% - 16.755822px), 3.3111117619826E-31px calc(100% - 20px), 0px 20px);
}
.small-slider__content-title {
	position: absolute;
	top: 30px;
	left: 25px;
	z-index: 1;
	transform:translate3d(0px, 0px, 0px);
}
.small-slider__title_xs {
	font-size: 16px;
	color:#757575;
	margin-bottom: 5px;
}
.small-slider__title_lg {
	font-size: 18px;
	color:#fff;
	line-height: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.small-slider__content-price {
	position: absolute;
	left: 25px;
	bottom: 30px;
	z-index: 1;
	transform:translate3d(0px, 0px, 0px);
}
@media (min-width: 992px) {
	.small-slider__title_xs {
		margin-bottom: 10px;
	}
	.small-slider__title_lg {
		font-size: 26px;
		line-height: 24px;
	}
}
.small-slider__from {
	font-size: 16px;
	color:#E3C045;
	margin-bottom: 4px;
	line-height: 16px;
}
.small-slider__price {
	color:#fff;
	font-size:26px;
	line-height: 26px;
}
.small-slider__image {
	width: 100%;
	height: 100%;
	position: relative;
}
.small-slider__img {
	width: 100%;
	height: 100%;
	display: block;
}
.small-slider__img_cover {
	object-fit: cover;
}
.small-slider__img_contain {
	object-fit: contain;
	object-position: center;
}

.small-slider__pagination {
	position: absolute;
	top: 25px !important;
	right: 25px;
	bottom: auto !important;
	z-index: 3;
	left: auto !important;
	text-align: right;
	width: auto !important;
	line-height: 12px;
	display: flex;
}
.small-slider__pagination .swiper-pagination-bullet {
	height: 4px;
	width: 20px;
	border-radius: 12px;
	background: #868890;
	margin-left: 4px !important;
	margin-right: 0 !important;
	opacity: 1;
}
.small-slider__pagination .swiper-pagination-bullet-active {
	background: #ffffff;
}
.small-slider.ss-pos-left {
	order: -1;
}