@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2'), url('exo2-regular.woff2') format('woff2'), url('exo2-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2'), url('exo2-medium.woff2') format('woff2'), url('exo2-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2'), url('exo2-bold.woff2') format('woff2'), url('exo2-bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display:swap;
}
body {
font-family: 'Exo 2', sans-serif;
}