@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('montserrat-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
	font-display:auto;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'), url('montserrat-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display:swap;
	font-display:auto;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url('montserrat-bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display:swap;
	font-display:auto;
}
body {
font-family: Montserrat, sans-serif;
}