@font-face {
	font-family: 'Rubik';
	src: local('Rubik'), local('Rubik-Regular'), url('rubik-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'Rubik';
	src: local('Rubik'), local('Rubik-Medium'), url('rubik-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display:swap;
}
@font-face {
	font-family: 'Rubik';
	src: local('Rubik'), local('Rubik-Medium'), url('rubik-bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display:swap;
}
body {
font-family: Rubik, sans-serif;
}